{% load static %}

<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="{% url 'login' %}">
                  <img
                    src="{% static 'mazer/assets/MKT-removebg-preview.png' %}"
                    alt="Logo"
                    style="height: 120px; width: auto; display: block; margin-left: 50px;"
                  >
                </a>

            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block">
                    <i class="bi bi-x bi-middle"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-menu">
        <ul class="menu">
            {% for item in sidebarItems %}
                {% if item.isTitle %}
                    <li class="sidebar-title">{{ item.name }}</li>
                {% else %}
                    <li class="sidebar-item 
                        {% if item.url == current_url %}active{% endif %}
                        {% if item.submenu|length > 0 %} has-sub{% endif %}">
                        
                        <a href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}" class='sidebar-link'>
                            <i class="bi bi-{{ item.icon }}"></i>
                            <span>{{ item.name }}</span>
                        </a>

                        {% if item.submenu %}
                            <ul class="submenu">
                                {% for sub in item.submenu %}
                                    <li class="submenu-item {% if sub.url == current_url %}active{% endif %}">
                                        <a href="{{ sub.url }}">{{ sub.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <button class="sidebar-toggler btn x">
        <i class="bi bi-x"></i>
    </button>
</div>
